<!DOCTYPE html>
<html lang="en">

<%- include('./components/head.ejs')%>

<body>
    <%- include('./components/nav.ejs')%>
    <div class="container">
       <h4>Item Details</h4>
       <div>
           <h5><%= item.name%></h5>
           <h5>$<%= item.price%></h5>
           <h5><%= item.createdAt%></h5>
           <h5><%= item.updatedAt%></h5>
       </div>
       <a class="delete btn" id="deleteBtn" data-id="<%= item._id%>" href="">Delete</a>
    </div>
    <script>
        deleteBtn.onclick = function(e){
            e.preventDefault()
            //const id = deleteBtn.dataset.id;
            const id = e.target.getAttribute('data-id');
            const endpoint = `/delete-item/${id}`;
            fetch(endpoint,{
                method:'DELETE'
            })
            .then(res=> res.json())
            .then(data => window.location.href = data.redirect)
            .catch(error=>console.log(error))
        }
    </script>
</body>
</html>